<!DOCTYPE html>
<html lang="zh-Hant" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>{{{title}}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:site_name" content="battlecatsinfo.github.io">
	<meta property="og:title" content="{{{title}}}">
	<meta property="og:url" content="https://battlecatsinfo.github.io/{{{filename}}}">

	{{#if description}}
	<meta property="og:description" content="{{{description}}}">
	<meta property="description" content="{{{description}}}">
	{{else}}
	<meta property="og:description" content="{{{title}}}">
	<meta name="description" content="{{{title}}}">
	{{/if}}

	<link rel="stylesheet" href="/gh.css">

	{{#each styles}}
	<link rel="stylesheet" type="text/css" href="{{this}}">
	{{/each}}

	<script src="/dracula.js"></script>
	{{#each scripts}}
	<script src="{{this}}"></script>
	{{/each}}

</head>

	<body>

	<h1 id="title"><a class="anchor" href="#title"><span class="octicon octicon-link"></span></a>{{{title}}}</h1>

	${contents}$

	</body>

</html>
